<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<style>
            html, body {
                width: 50px;
                height: 50px;
                margin: 0;
                padding: 0;
                background-color: #b3daff;
            }
           
        </style>
</head>
<body>
</br>
</br>
</br>
</br>
		<center><a href="/login">login</a></center> 
</body>
</html>