<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style> html, body {background-color: #b3daff; } </style>
</head>
<body>
	<h1><center>Log In!</center></h1>
<center>
<form method="post">
</br>
</br>
</br>
</br>
</br>
	<table>

		<tr>
			<td>Username:</td>
			<td><input type="text" name="username" value=""></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password" value=""></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="submit" value="Submit"/></td>
		</tr>

	</table>
</form>	
</center>
</body>
</html>


<!-- 
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	
	<form method="post" >
		Username: <input type="text" name="username"/><br/>
		Password: <input type="password" name="password"/><br/>
		<input type="submit" name="submit" value="Submit" />
	</form>
</body>
</html> -->