<!DOCTYPE html>
<html>
<head>
	<title>jQuery</title>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="jquery-ui.structure.css"/>
	<link rel="stylesheet" type="text/css" href="jquery-ui.css"/>
	<script type="text/javascript" src="jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="jquery-ui.theme.css"/>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<div>

		<input type="text" name="" id='autocomplete'/>
		<input type="button" name="" value="Ajax!" id="show"> 
</body>
</html>